Publish.json
[{"id":"389729e0.bb36f6","type":"tab","label":"Publish","disabled":false,"info":""},{"id":"a5ad8d4e.96e28","type":"json","z":"389729e0.bb36f6","name":"","property":"payload","action":"","pretty":false,"x":630,"y":120,"wires":[["1baa2c0c.2cdd84"]],"info":"{\n    \n}"},{"id":"5de00bb3.06f754","type":"inject","z":"389729e0.bb36f6","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"1","x":130,"y":340,"wires":[["43ee6b78.033504","1f166a8f.84ed35","44d47c81.8b9c34","6224f274.6b6e1c","5bc696fb.105038","dee3f3ce.24335","3d0d3d71.132882","fe88183a.cec6d8"]]},{"id":"43ee6b78.033504","type":"function","z":"389729e0.bb36f6","name":"Temp Sensor","func":"var obj = new Object();\n    obj.sensor = \"temperature\";\n    obj.temp  = Math.floor(Math.random() * (108 - 90 + 1)) + 90;\nif(obj.temp > 98.6) {\n    obj.condition = 'High Fever';\n}\nelse{\n    obj.condition = 'Under Control';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["a5ad8d4e.96e28"]]},{"id":"1baa2c0c.2cdd84","type":"mqtt out","z":"389729e0.bb36f6","name":"","topic":"Temperature","qos":"","retain":"","broker":"286a47fa.49c5e8","x":930,"y":120,"wires":[]},{"id":"1f166a8f.84ed35","type":"function","z":"389729e0.bb36f6","name":"Pacemaker","func":"var obj = new Object();\n    obj.sensor = \"Pacemaker\";\n    obj.heartRate  = Math.floor((Math.random() * (120 - 40 + 1)) + 40);\nif(obj.heartRate > 60 && obj.heartRate < 100 ) {\n    obj.condition = 'Under Control';\n}\nelse if(obj.heartRate < 60) {\n    obj.condition = 'Low Heart Rate'\n}\nelse if (obj.heartRate > 100){\n\tobj.condition = 'High Heart Rate'\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["268897ca.f51e58"]]},{"id":"44d47c81.8b9c34","type":"function","z":"389729e0.bb36f6","name":"Glucose","func":"var obj = new Object();\n    obj.sensor = \"Glucose Monitoring\";\n    obj.glucose  = Math.floor((Math.random() * (190 - 50 + 1)) + 50);\n\tnum = Math.round(Math.random())\n\tif(num == 1){\n\t\tobj.type = \"Fasting Sugar Level\";\n\t\tif(obj.glucose > 140 ) {\n\t\t\tobj.condition = 'Sugar Level High';\n\t\t}else if(obj.glucose < 70){\n\t\t\tobj.condition = 'Suger Level Low';\n\t\t}else{\n\t\t\tobj.condition = 'Under Control';\n\t\t}\n\t}else{\n\t\tobj.type = \"Post Meal Sugar Level\";\n\t\tif(obj.glucose > 190 ) {\n\t\t\tobj.condition = 'Sugar Level High';\n\t\t}else if(obj.glucose < 120){\n\t\t\tobj.condition = 'Suger Level Low';\n\t\t}else{\n\t\t\tobj.condition = 'Under Control';\n\t\t}\n\t}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["7807fb40.962974"]]},{"id":"6224f274.6b6e1c","type":"function","z":"389729e0.bb36f6","name":"Body Oxygen","func":"var obj = new Object();\n    obj.sensor = \"Blood Oxygen\";\n    obj.oxygen  = Math.floor((Math.random() * (100 - 85 + 1)) + 85);\nif(obj.oxygen > 95) {\n\tobj.condition = 'Under Control';\n}else if(obj.oxygen > 91 && obj.oxygen < 94){\n    obj.condition = 'Oxygen Below Average';\n}else{\n\tobj.condition = 'Attention Required! Oxygen Level Low'\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["97a38392.c1dd"]]},{"id":"5bc696fb.105038","type":"function","z":"389729e0.bb36f6","name":"Pressure ","func":"var obj = new Object();\n    obj.sensor = \"Adults Respiratory Monitoring\";\n    obj.respiratory  = Math.floor((Math.random() * (25 - 8 + 1)) + 8);\nif(obj.respiratory < 12 ) {\n    obj.condition = 'Breathing Rate Low!!';\n}else if(obj.oxygen > 20){\n    obj.condition = 'Breathing Rate High!!';\n}else{\n    obj.condition = 'Under Control';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["8f362ec1.950d9"]]},{"id":"dee3f3ce.24335","type":"function","z":"389729e0.bb36f6","name":"Blood Pressure","func":"var obj = new Object();\n    obj.sensor = \"blood pressure\";\n    obj.bp  = Math.floor((Math.random() * (140-120+1)) + 120);\nif(obj.bp < 120) \n{\n    obj.condition = 'Optimal Blood Pressure';\n}\nelse if(obj.bp > 120 && obj.bp < 140)\n{\n\tobj.condition = 'Normal Blood Pressure';\n}\nelse\n{\n    obj.condition = 'High Blood Pressure';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["f7154bdf.0ac078"]]},{"id":"3d0d3d71.132882","type":"function","z":"389729e0.bb36f6","name":"Pedometer","func":"var obj = new Object();\n    obj.sensor = \"Pedometer\";\n    obj.pedo  = Math.round((Math.random() * ((15000 - 1) + 1)) + 1);\nif(obj.pedo > 10000) {\n    obj.condition = 'Congratulations you have met the daily target';\n}\nelse if(obj.condition == 0)\n{\n\tobj.condition = 'Hope you are well';\n}\nelse\n{\n\tobj.condition = 'Your daily target is 10000 steps'\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["958037db.b15d98"]]},{"id":"fe88183a.cec6d8","type":"function","z":"389729e0.bb36f6","name":"Blood Alcohol","func":"var obj = new Object();\n    obj.sensor = \"blood alcohol\";\n    obj.bal  = Math.random();\nif(obj.bal >= 0.0 && obj.bal <= 0.05) \n{\n    obj.condition = 'Mild Impairment';\n}\nelse if(obj.bal >= 0.06 && obj.bal <= 0.15)\n{\n\tobj.condition = 'Increased Impairment';\n}\nelse if(obj.bal >= 0.16  && obj.bal <= 0.30)\n{\n    obj.condition = 'Severe Impairment';\n}\nelse\n{\n\tobj.condition = 'Life Threatning';\n}\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["dce2157d.11ce08"]]},{"id":"268897ca.f51e58","type":"json","z":"389729e0.bb36f6","name":"","property":"payload","action":"","pretty":false,"x":630,"y":180,"wires":[["4328fa15.52cf64"]],"info":"{\n    \n}"},{"id":"7807fb40.962974","type":"json","z":"389729e0.bb36f6","name":"","property":"payload","action":"","pretty":false,"x":630,"y":240,"wires":[["dd60fc85.77573"]],"info":"{\n    \n}"},{"id":"97a38392.c1dd","type":"json","z":"389729e0.bb36f6","name":"","property":"payload","action":"","pretty":false,"x":630,"y":300,"wires":[["d62dd690.f51048"]],"info":"{\n    \n}"},{"id":"8f362ec1.950d9","type":"json","z":"389729e0.bb36f6","name":"","property":"payload","action":"","pretty":false,"x":630,"y":380,"wires":[["f407b7fe.a12938"]],"info":"{\n    \n}"},{"id":"f7154bdf.0ac078","type":"json","z":"389729e0.bb36f6","name":"","property":"payload","action":"","pretty":false,"x":630,"y":460,"wires":[["738904b.1e877fc"]],"info":"{\n    \n}"},{"id":"958037db.b15d98","type":"json","z":"389729e0.bb36f6","name":"","property":"payload","action":"","pretty":false,"x":650,"y":540,"wires":[["82e7fee4.2e599"]],"info":"{\n    \n}"},{"id":"dce2157d.11ce08","type":"json","z":"389729e0.bb36f6","name":"","property":"payload","action":"","pretty":false,"x":650,"y":620,"wires":[["ed414ad1.4f8c18"]],"info":"{\n    \n}"},{"id":"4328fa15.52cf64","type":"mqtt out","z":"389729e0.bb36f6","name":"","topic":"Pacemaker","qos":"","retain":"","broker":"286a47fa.49c5e8","x":930,"y":180,"wires":[]},{"id":"dd60fc85.77573","type":"mqtt out","z":"389729e0.bb36f6","name":"","topic":"Glucose","qos":"","retain":"","broker":"286a47fa.49c5e8","x":920,"y":240,"wires":[]},{"id":"d62dd690.f51048","type":"mqtt out","z":"389729e0.bb36f6","name":"","topic":"Oxygen","qos":"","retain":"","broker":"286a47fa.49c5e8","x":920,"y":300,"wires":[]},{"id":"f407b7fe.a12938","type":"mqtt out","z":"389729e0.bb36f6","name":"","topic":"Pressure","qos":"","retain":"","broker":"87a8052f.231ee8","x":920,"y":380,"wires":[]},{"id":"738904b.1e877fc","type":"mqtt out","z":"389729e0.bb36f6","name":"","topic":"BloodP","qos":"","retain":"","broker":"87a8052f.231ee8","x":920,"y":460,"wires":[]},{"id":"82e7fee4.2e599","type":"mqtt out","z":"389729e0.bb36f6","name":"","topic":"Pedometer","qos":"","retain":"","broker":"87a8052f.231ee8","x":910,"y":540,"wires":[]},{"id":"ed414ad1.4f8c18","type":"mqtt out","z":"389729e0.bb36f6","name":"","topic":"Alcohol","qos":"","retain":"","broker":"87a8052f.231ee8","x":920,"y":620,"wires":[]},{"id":"286a47fa.49c5e8","type":"mqtt-broker","z":"","name":"Simulate","broker":"adv04tm65749o-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"23cc6b18.f92fa4","clientid":"","usetls":true,"compatmode":false,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"87a8052f.231ee8","type":"mqtt-broker","z":"","name":"Mayur IOT Device","broker":"a2cju6yc5pkref-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"217faf0b.15a65","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23cc6b18.f92fa4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"Device4d2567c6fe-certificate.pem.crt","keyname":"Device4d2567c6fe-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"217faf0b.15a65","type":"tls-config","z":"","name":"New TLS","cert":"","key":"","ca":"","certname":"bbca6129c9-certificate.pem.crt","keyname":"bbca6129c9-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true}]