Subscribe.json
[{"id":"bb8e6ce5.af068","type":"tab","label":"Subscribe","disabled":false,"info":""},{"id":"f69b872b.579aa8","type":"mqtt in","z":"bb8e6ce5.af068","name":"","topic":"Temperature","qos":"0","datatype":"json","broker":"f4963761.d91fa8","x":110,"y":80,"wires":[["35ee077.a0e22f8","8b7ccc6a.25b15"]]},{"id":"ce975be7.fd4618","type":"ui_text","z":"bb8e6ce5.af068","group":"68980192.e59e4","order":3,"width":12,"height":1,"name":"","label":"Temp Condition","format":"{{msg.payload.condition}}","layout":"row-spread","x":640,"y":100,"wires":[]},{"id":"35ee077.a0e22f8","type":"ui_gauge","z":"bb8e6ce5.af068","name":"Temperature","group":"68980192.e59e4","order":7,"width":12,"height":5,"gtype":"gage","title":"","label":"°F","format":"{{msg.payload.temp}}","min":"90","max":"110","colors":["#00b500","#e6e600","#ff0000"],"seg1":"","seg2":"","x":390,"y":40,"wires":[]},{"id":"c374d21d.b6aa","type":"mqtt in","z":"bb8e6ce5.af068","name":"","topic":"Pacemaker","qos":"0","datatype":"json","broker":"f4963761.d91fa8","x":110,"y":240,"wires":[["13bb4642.01b7ea","3420bb2d.92b394"]]},{"id":"f0453460.ee8718","type":"ui_text","z":"bb8e6ce5.af068","group":"68980192.e59e4","order":20,"width":12,"height":1,"name":"","label":"Heart Condition","format":"{{msg.payload.condition}}","layout":"row-spread","x":600,"y":260,"wires":[]},{"id":"13bb4642.01b7ea","type":"ui_gauge","z":"bb8e6ce5.af068","name":"Heartrate","group":"68980192.e59e4","order":24,"width":12,"height":5,"gtype":"donut","title":"","label":"","format":"{{msg.payload.heartRate}}","min":"40","max":"180","colors":["#00b500","#e6e600","#ff0000"],"seg1":"","seg2":"","x":380,"y":200,"wires":[]},{"id":"f538822d.97cb6","type":"mqtt in","z":"bb8e6ce5.af068","name":"","topic":"Glucose","qos":"0","datatype":"json","broker":"f4963761.d91fa8","x":100,"y":400,"wires":[["889a6e0f.f646b","2c047b27.84a304"]]},{"id":"7a1ddb39.c2ba74","type":"ui_text","z":"bb8e6ce5.af068","group":"68980192.e59e4","order":18,"width":13,"height":1,"name":"","label":"Sugar Condition","format":"{{msg.payload.condition}}","layout":"row-spread","x":620,"y":440,"wires":[]},{"id":"889a6e0f.f646b","type":"ui_gauge","z":"bb8e6ce5.af068","name":"SugarLevel","group":"68980192.e59e4","order":22,"width":13,"height":5,"gtype":"compass","title":"","label":"","format":"{{msg.payload.glucose}}","min":"50","max":"190","colors":["#00b500","#e6e600","#802425"],"seg1":"","seg2":"","x":390,"y":360,"wires":[]},{"id":"969b48c8.a26de8","type":"mqtt in","z":"bb8e6ce5.af068","name":"","topic":"Pressure","qos":"0","datatype":"json","broker":"99e4adf4.0bb1","x":100,"y":580,"wires":[["293f4c6f.538bc4","36458060.7d4e4"]]},{"id":"293f4c6f.538bc4","type":"ui_gauge","z":"bb8e6ce5.af068","name":"PressureLevel","group":"68980192.e59e4","order":5,"width":13,"height":5,"gtype":"wave","title":"","label":"","format":"{{msg.payload.respiratory}}","min":"8","max":"25","colors":["#00b500","#e6e600","#802425"],"seg1":"","seg2":"","x":400,"y":540,"wires":[]},{"id":"8b7ccc6a.25b15","type":"function","z":"bb8e6ce5.af068","name":"Temperature Check","func":"if(msg.payload.temp > 102) {\n    msg.payload.condition = 'Consult Doctor'\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["ce975be7.fd4618"]]},{"id":"3420bb2d.92b394","type":"function","z":"bb8e6ce5.af068","name":"heart rate","func":"if(msg.payload.heartRate < 50) {\n    msg.payload.condition = 'Severe'\n} \nreturn msg;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["f0453460.ee8718","f6dd3cd1.7acb1"]]},{"id":"2c047b27.84a304","type":"function","z":"bb8e6ce5.af068","name":"Glucose check","func":"if(msg.payload.glucose < 50 ||msg.payload.glucose > 170 ){\n    msg.payload.condition = 'Severe'\n} \nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["7a1ddb39.c2ba74"]]},{"id":"35983e5c.444c52","type":"ui_text","z":"bb8e6ce5.af068","group":"68980192.e59e4","order":1,"width":13,"height":1,"name":"","label":"Pressure Condition","format":"{{msg.payload.condition}}","layout":"row-spread","x":650,"y":620,"wires":[]},{"id":"36458060.7d4e4","type":"function","z":"bb8e6ce5.af068","name":"Pressure check","func":"if(msg.payload.respiratory < 10){\n    msg.payload.condition = 'Severe'\n} \nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["35983e5c.444c52"]]},{"id":"f6dd3cd1.7acb1","type":"function","z":"bb8e6ce5.af068","name":"Check","func":"if(msg.payload.heartRate < 50) {\n    msg.payload.condition = 'Severe'\n}else {\n    msg.payload = NULL\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["3b51229e.0665be"]]},{"id":"3b51229e.0665be","type":"ui_toast","z":"bb8e6ce5.af068","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"topic":"Critical Heart Rate","name":"","x":850,"y":300,"wires":[[]]},{"id":"f4963761.d91fa8","type":"mqtt-broker","z":"","name":"Simulate","broker":"adv04tm65749o-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"36562058.67cd6","clientid":"","usetls":true,"compatmode":false,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"68980192.e59e4","type":"ui_group","z":"","name":"Health Tracker","tab":"a8d5816c.e5eac","order":1,"disp":true,"width":"27","collapse":false},{"id":"99e4adf4.0bb1","type":"mqtt-broker","z":"","name":"Mayur IOT Device","broker":"a2cju6yc5pkref-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"35a59da.2cf4362","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36562058.67cd6","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"Device4d2567c6fe-certificate.pem.crt","keyname":"Device4d2567c6fe-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"a8d5816c.e5eac","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"35a59da.2cf4362","type":"tls-config","z":"","name":"New TLS","cert":"","key":"","ca":"","certname":"bbca6129c9-certificate.pem.crt","keyname":"bbca6129c9-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true}]